body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow: hidden;
}
h1 {
  color: rgb(149, 113, 66);
}
button {
  border: none;
  color: white;
  background-color: lightblue;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  margin-bottom: 15px;
}
button:hover {
  border: 1px black solid;
  color: black;
}
input {
  border-radius: 10px;
  border: 2px solid black;
  height: 21px;
  text-shadow: none;
  outline: none;
  margin: 5px;
}
input:focus {
  outline: none;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-left: -10px;
  margin-top: -8px;
}
a {
  text-decoration: none;
  color: black;
  font-size: large;
}

.nav-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 99vw;
  font-size: medium;
  color: black;
  background-color: lightblue;
  margin: 0, 5px, 5px, 0;
  padding-right: 20px;
  padding-left: 20px;
  .permanent-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.5vw;
    padding-left: 10px;
  }
}

.widget-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 70vh;
  .widget-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 215px);
    grid-template-rows: repeat(2, 215px);
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      width: 200px;
      color: white;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
    }
    h3:hover {
      opacity: 0.75;
      color: whitesmoke;
      box-shadow: 5px, 10px;
      height: 205px;
      width: 205px;
    }
  }
}
.image-widget-wrapper {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  .image-space {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    img {
      height: auto;
      border-radius: 10px;
      width: 100%;
    }
  }
}

.swapi-widget-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  .dropdown {
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 700;
    height: 25px;
    width: 150px;
    text-shadow: none;
    outline: none;
    margin-bottom: 5px;
  }
  .swapi-data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    margin-bottom: 5px;
  }
}

.dice-widget-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .dice-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100vw;

    .red {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 33%;

      .displayed-side {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 300px;
        font-size: 100px;
        color: white;
        background-color: red;
        border: darkred dotted 2px;
      }
    }

    .green {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 33%;

      .displayed-side {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 300px;
        font-size: 100px;
        color: white;
        background-color: green;
        border: darkgreen dotted 2px;
      }
    }

    .blue {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 33%;

      .displayed-side {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 300px;
        font-size: 100px;
        color: white;
        background-color: blue;
        border: darkblue dotted 2px;
      }
    }
  }
}
.map-widget-wrapper {
  display: flex;
  align-items: center;
  width: 95vw;
  height: 95vh;
  margin-left: 5vw;
  .user-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    .back-button {
      margin-top: 100px;
    }
  }
  .map-render {
    height: 95vh;
    width: 95vw;
    border-left: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.weather-widget-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .city {
    color: rgb(149, 113, 66);
    padding-bottom: 10px;
    font-size: 30px;
  }
  .city-chooser {
    height: 25px;
    width: 60px;
  }
  .weather-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .name {
      font-size: 50px;
      font-weight: 900;
    }
  }
}
